.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 65px;
    padding-left: 60px;
    padding-right: 60px;
}

.brand-column {
    color: white;
    font-family: "Habibi", serif;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    flex-basis: 100%;
    flex: 1;
}

.link-column {
    font-family: "Habibi", serif;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 2;
    justify-content: flex-end;
    column-gap: 30px;
}

.def-color {
    color: white;
}
.active {
    color: #FF9E9E;
}

.dabomb {
    color: white;
}